<div class='mb-4'>
  {{!-- TODO: add link to meilisearch's documentation --}}
  <Form::Element @label={{@label}} @errors={{array this.error}}>
    <MonacoEditor
      @value={{json-stringify this.value}}
      @uri={{@setting.uri}}
      @language='json'
      @sendValue={{this.save}}
      @invoker={{this.invoker}}
      class='h-40'
    />
  </Form::Element>

  <Button
    @text='Save'
    @style='primary'
    @size='sm'
    @onClick={{fn this.invoker.invoke 'invokeSendValue'}}
  />
  <Button @text='Cancel' @size='sm' @onClick={{this.setInitialValue}} />
  <Button @text='Reset' @size='sm' @onClick={{this.reset}} />
</div>
