<div class="mb-4">
  {{#if @label}}
    <label for={{this.id}} class="block font-medium mb-1 text-dark">{{@label}}</label>
  {{/if}}
  <PowerSelect
    @placeholder={{@placeholder}}
    @searchEnabled={{@searchEnabled}}
    @searchField={{@searchField}}
    @onChange={{@onChange}}
    @options={{@options}}
    @selected={{@selected}}
    @triggerClass={{@triggerClass}}
    @allowClear={{@allowClear}}
    ...attributes
    as |option select|>
    {{yield option select}}
  </PowerSelect>
  {{#if @helper}}
    <div class="mt-1 text-sm">{{@helper}}</div>
  {{/if}}
</div>
