<div
  class='px-4 py-5 base-7 shadow rounded-lg overflow-hidden sm:p-6'
  ...attributes
>
  <div class='flex items-center'>
    <div class="mr-2">{{yield to='icon'}}</div>
    <div>
      <dt class='text-sm font-medium text-base-3 truncate'>
        {{@title}}
      </dt>
      <dd class='text-3xl font-semibold text-base-3'>
        {{#if (has-block)}}
          {{yield}}
        {{else}}
          {{@value}}
        {{/if}}
      </dd>
    </div>
  </div>
</div>
