<div class='mb-4 max-w-lg' ...attributes>
  {{#if @label}}
    <label
      for={{@for}}
      class='block font-medium mb-1 text-base-2
        {{if @required "after:content-['*'] after:text-danger"}}'
    >
      {{~@label~}}
    </label>
  {{/if}}

  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{@value}}
  {{/if}}

  {{#if @errors.length}}
    {{#each @errors as |item|}}
      <div class='mt-1 text-sm text-danger'>
        {{item}}
      </div>
    {{/each}}
  {{/if}}

  {{#if @helper}}
    <div class='mt-1 text-sm'>
      {{@helper}}
    </div>
  {{/if}}
</div>
