<div class="mb-4">
  {{#if @label}}
    <label for={{@for}} class="block font-medium mb-1 text-dark {{if @required "after:content-['*'] after:text-red-500"}}">
      {{~ @label ~}}
    </label>
  {{/if}}

  {{#if (has-block)}}
    {{yield}}
  {{else}}
    {{@value}}
  {{/if}}

  {{#if @helper}}
    <div class="mt-1 text-sm">
      {{@helper}}
    </div>
  {{/if}}
</div>
