<Form::Element
  @label={{@label}}
  @for={{this.id}}
  @required={{@required}}
  @helper={{@helper}}
>
  <div class='relative flex items-center border rounded'>
    {{#if @prefixIcon}}
      <@prefixIcon class='h-8 w-8 pl-2' />
    {{/if}}
    <input
      type='text'
      name={{@name}}
      id={{this.id}}
      class='block w-full p-2 bg-transparent focus:outline-none'
      placeholder={{@placeholder}}
      value={{@value}}
      required={{@required}}
      {{on 'input' this.onChange}}
    />
  </div>
</Form::Element>
