<LinkTo
  @route='admin.indexes.item.documents.new'
  @model={{@model.index}}
  class='inline-block mb-4'
>
  Create new document
</LinkTo>

<div class='sm:flex sm:flex-nowrap'>
  {{! q }}
  <Form::Input
    @placeholder='Search'
    @prefixIcon={{this.Magnify}}
    @value={{this.q}}
    @onChange={{this.searchTextChanged}}
    class='sm:grow'
  />

  {{! sort }}
  {{#if this.sortValues.length}}
    <Form::Listbox
      @listboxLabel={{'Sort: '}}
      @value={{nu-co this.sort 'none'}}
      @values={{this.sortValues}}
      @onChange={{set this 'sort'}}
      @allowClear={{true}}
      class='sm:ml-4 sm:flex-none'
    />
  {{/if}}

  {{! limit }}
  <Form::Listbox
    @listboxLabel={{'Limit: '}}
    @value={{nu-co this.limit 'none'}}
    @values={{array 20 50 100 500}}
    @onChange={{set this 'limit'}}
    class='sm:ml-4 sm:flex-none'
  />

  {{! table settings }}
  <Form::TableSettings
    @onChangeSort={{this.sortAttibutes}}
    @items={{this.allAttributes}}
    @isItemChecked={{this.isItemChecked}}
    @onToggleItem={{this.toggleAttribute}}
    class='sm:ml-4 sm:flex-none'
  />
</div>

{{!-- <div class='flex items-center mb-4'>
  <div class='flex items-center ml-auto'>
    <Icons::Check class='mr-1' @size='18' />
    Hits:
    {{@model.data.estimatedTotalHits}}
    <Icons::ClockOutline class='ml-6 mr-1' @size='18' />
    Time spent:
    {{@model.data.processingTimeMs}}
    ms
  </div>
</div> --}}

{{#if (gt @model.data.estimatedTotalHits 0)}}
  <SimpleTable
    @data={{@model.data.hits}}
    @sortingProp={{this.sort}}
    @onSort={{this.onSort}}
    class='w-full'
    as |Column data|
  >
    {{#each this.attributes as |field|}}
      {{#if (not (includes field this.hiddenFields))}}
        <Column
          @name={{capitalize field}}
          @prop={{field}}
          @sortable={{includes field @model.sortableAttributes}}
        >
          {{#let (get data field) as |value|}}
            {{if (eq (type-of value) 'object') (json-stringify value) value}}
          {{/let}}
        </Column>
      {{/if}}
    {{/each}}
    <Column class='relative'>
      {{#let
        (array @model.index.uid (get data @model.index.primaryKey))
        'flex items-center px-4 py-2 text-sm hover:bg-base-6 hover:text-base-1'
        as |models linkClasses|
      }}
        <Menu as |menu|>
          <menu.Button class='inline-flex items-center'>
            <Icons::DotsHorizontal />
          </menu.Button>
          <menu.Items
            class='absolute z-dropdown right-0 w-28 mt-2 py-1 origin-top-right bg-base-7 border rounded shadow-sm outline-none'
          >
            <LinkTo
              @route='admin.indexes.item.documents.document'
              @models={{models}}
              class={{linkClasses}}
            >
              <Icons::FileDocumentOutline @size={{18}} class='mr-1' />
              View
            </LinkTo>
            <LinkTo
              @route='admin.indexes.item.documents.document.edit'
              @models={{models}}
              class={{linkClasses}}
            >
              <Icons::PencilOutline @size={{18}} class='mr-1' />
              Edit
            </LinkTo>
            <LinkTo
              @route='admin.indexes.item.documents.document.delete'
              @models={{models}}
              class={{linkClasses}}
            >
              <Icons::TrashCanOutline @size={{18}} class='mr-1' />
              Delete
            </LinkTo>
          </menu.Items>
        </Menu>
      {{/let}}
    </Column>
  </SimpleTable>

  <div class='flex items-center'>
    {{this.fromHits}}
    —
    {{this.toHits}}
    of
    {{@model.data.estimatedTotalHits}}

    <Pagination
      @count={{@model.data.estimatedTotalHits}}
      @current={{this.page}}
      @perPage={{@model.data.limit}}
      class='ml-auto'
    />
  </div>
{{else}}
  No results found
{{/if}}
