<Form::Input
  @placeholder='Search'
  @prefixIcon={{this.Magnify}}
  @value={{this.q}}
  @onChange={{this.searchTextChanged}}
/>

{{!-- <div class='flex items-center mb-4'>
  <div class='flex items-center ml-auto'>
    <Icons::Check class='mr-1' @size='18' />
    Hits:
    {{@model.data.estimatedTotalHits}}
    <Icons::ClockOutline class='ml-6 mr-1' @size='18' />
    Time spent:
    {{@model.data.processingTimeMs}}
    ms
  </div>
</div> --}}

<LinkTo
  @route='admin.indexes.item.documents.new'
  @model={{@model.index}}
  class='block mb-4'
>
  Create new document
</LinkTo>

{{#if (gt @model.data.estimatedTotalHits 0)}}
  <RoyalTable
    @data={{@model.data.hits}}
    @sortingProp={{this.sort}}
    @onSort={{this.onSort}}
    class='w-full'
    as |Column data|
  >
    {{#each-in @model.stats.fieldDistribution as |field|}}
      <Column
        @name={{capitalize field}}
        @prop={{field}}
        @sortable={{includes field @model.sortableAttributes}}
      >
        {{#let (get data field) as |value|}}
          {{if (eq (type-of value) 'object') (stringify value) value}}
        {{/let}}
      </Column>
    {{/each-in}}
    <Column>
      {{#let
        (array @model.index.uid (get data @model.index.primaryKey))
        as |models|
      }}
        <LinkTo
          @route='admin.indexes.item.documents.document'
          @models={{models}}
          class='inline-flex items-center'
        >
          <Icons::FileDocumentOutline class='mr-1' />
          View
        </LinkTo>
        <LinkTo
          @route='admin.indexes.item.documents.document.edit'
          @models={{models}}
          class='inline-flex items-center'
        >
          <Icons::PencilOutline class='mr-1' />
          Edit
        </LinkTo>
        <LinkTo
          @route='admin.indexes.item.documents.document.delete'
          @models={{models}}
          class='inline-flex items-center'
        >
          <Icons::TrashCanOutline class='mr-1' />
          Delete
        </LinkTo>
      {{/let}}
    </Column>
  </RoyalTable>

  <div class='flex items-center'>
    {{this.fromHits}}
    —
    {{this.toHits}}
    of
    {{@model.data.estimatedTotalHits}}

    <Pagination
      @count={{@model.data.estimatedTotalHits}}
      @current={{this.page}}
      @perPage={{@model.data.limit}}
      class='ml-auto'
    />
  </div>
{{else}}
  No results found
{{/if}}
