{{page-title "Data"}}

<InputText
  @placeholder="Search"
  @prefixIcon="magnify"
  @value={{this.q}}
  @onChange={{this.searchTextChanged}}
/>

<div class="mb-4 flex items-center">
  <MdIcon @icon="check" class="mr-1" @size="18" />
  Hits: {{@model.data.nbHits}}
  <MdIcon @icon="clock-outline" class="ml-6 mr-1" @size="18" />
  Time spent: {{@model.data.processingTimeMs}} ms
</div>

{{#if (gt @model.data.nbHits 0)}}
  <div class="mb-4 flex items-center">
    <ButtonGroup @value={{this.dataView}} @onClick={{set this 'dataView'}} as |bg|>
      <bg.button
        @text="Table"
        @icon="table"
        @value="table"
      />
      <bg.button
        @text="Map"
        @icon="map-outline"
        @value="map"
      />
    </ButtonGroup>
  </div>

  {{#if (eq this.dataView 'table')}}

  {{/if}}

  {{!-- {{#if (eq this.dataView 'map')}}
    map
  {{/if}} --}}

  {{!-- {{#if (eq this.dataView 'card')}}
    <div class="mb-4">
      {{#each @model.hits as |item|}}
        <div class="mb-8 rounded-md border overflow-hidden shadow">
          {{#each-in item as |key value|}}
            <div class="grid grid-cols-3 gap-4 p-4 odd:bg-gray-50">
              <div>{{key}}</div>
              <div class="col-span-2">
                {{if (eq (type-of value) "object") (stringify value) value}}
              </div>
            </div>
          {{/each-in}}
        </div>
      {{/each}}
    </div>

    <Pagination
      @count={{@model.nbHits}}
      @current={{this.page}}
      @perPage={{@model.limit}}
    />
  {{/if}} --}}
{{/if}}
