{{page-title "Data"}}

<InputText
  @placeholder="Search"
  @prefixIcon="magnify"
  @value={{this.q}}
  @onChange={{this.searchTextChanged}}
/>

<div class="mb-4 flex items-center">
  <MdIcon @icon="check" class="mr-1" @size="18" />
  Hits: {{@model.nbHits}}
  <MdIcon @icon="clock-outline" class="ml-6 mr-1" @size="18" />
  Time spent: {{@model.processingTimeMs}} ms
</div>

{{#if (gt @model.nbHits 0)}}
  {{log @model}}

  <div class="mb-4">
    <h2 class="text-xl mb-4">Results:</h2>
    <div class=" ">
      {{#each @model.hits as |item|}}
        <div class="mb-8 rounded-md border overflow-hidden shadow">
          {{#each-in item as |key value|}}
            <div class="grid grid-cols-3 gap-4 p-4 odd:bg-gray-50">
              <div>{{key}}</div>
              <div class="col-span-2">
                {{if (eq (type-of value) "object") (stringify value) value}}
              </div>
            </div>
          {{/each-in}}
        </div>
      {{/each}}
    </div>
  </div>

  <Pagination
    @count={{@model.nbHits}}
    @current={{this.page}}
    @perPage={{@model.limit}}
  />
{{/if}}
