{{#if @model.isNew}}
  <Headers::H1 @title='Create new index' />
{{/if}}

<form {{on 'submit' this.save}}>
  {{#if @model.isNew}}
    <Form::Input @label='UID' @name='uid' @required={{true}} />
  {{/if}}

  <Form::Input
    @label='Primary key'
    @name='primaryKey'
    @value={{@model.primaryKey}}
    @required={{true}}
  />

  <div class='flex items-center'>
    <Button type='submit' @text='Save' @style='primary' @state={{if this.isSaving 'pending'}} />
    <Button @text='Cancel' @onClick={{this.cancel}} class="ml-2"/>
  </div>
</form>
