<Headers::H1>
  {{#if @model.isNew}}
    Create new index
  {{else}}
    Edit
    {{@model.uid}}
  {{/if}}
</Headers::H1>

<form {{on 'submit' this.save}}>
  {{#if @model.isNew}}
    <InputText
      @label='UID'
      @name='uid'
      @required={{true}}
    />
  {{/if}}

  <InputText
    @label='Primary key'
    @name='primaryKey'
    @value={{@model.primaryKey}}
    @required={{true}}
  />

  <Button type='submit' @text='Save' @style='primary' />
</form>
