<Headers::H1 @title={{if @model.isNew "Create new index" "Edit"}} />

<form {{on 'submit' this.save}}>
  {{#if @model.isNew}}
    <Form::Input
      @label='UID'
      @name='uid'
      @required={{true}}
    />
  {{/if}}

  <Form::Input
    @label='Primary key'
    @name='primaryKey'
    @value={{@model.primaryKey}}
    @required={{true}}
  />

  <Button type='submit' @text='Save' @style='primary' />
</form>
