<h1 class='text-3xl mb-4'>{{@model.name}}</h1>

<FormElement @label='description' @value={{@model.description}} />
<FormElement @label='key' @value={{@model.key}} />
<FormElement @label='uid' @value={{@model.uid}} />
<FormElement @label='actions' @value={{@model.actions}} />
<FormElement @label='indexes' @value={{@model.indexes}} />
<FormElement @label='expiresAt'>
  {{date-time-format
    @model.expiresAt
    year='numeric'
    month='numeric'
    day='numeric'
    hour='numeric'
    minute='numeric'
    second='numeric'
  }}
</FormElement>
<FormElement @label='createdAt'>
  {{date-time-format
    @model.createdAt
    year='numeric'
    month='numeric'
    day='numeric'
    hour='numeric'
    minute='numeric'
    second='numeric'
  }}
</FormElement>
<FormElement @label='updatedAt'>
  {{date-time-format
    @model.updatedAt
    year='numeric'
    month='numeric'
    day='numeric'
    hour='numeric'
    minute='numeric'
    second='numeric'
  }}
</FormElement>
