<div class='app'>
  <MobileBar class='fixed flex shadow-sm lg:hidden' />

  <aside class='sidenav'>
    <SidenavBackground />
    {{#let
      'flex items-center px-4 py-2 font-semibold rounded text-lg text-base-2 no-underline hover:text-base-1 hover:bg-base-6'
      as |classLink|
    }}
      <div class='sidenav-sections'>
        <div>
          <MobileBar class='relative flex mb-3' />

          <nav class='flex flex-col flex-1'>
            <LinkTo @route='admin.indexes' class={{classLink}} @activeClass="bg-base-6">
              <Icons::FolderMultipleOutline class='fill-base-3 mr-2' />
              Indexes
            </LinkTo>
            <LinkTo @route='admin.tasks' class={{classLink}} @activeClass="bg-base-6">
              <Icons::FormatListChecks class='fill-base-3 mr-2' />
              Tasks
            </LinkTo>
            <LinkTo @route='admin.keys' class={{classLink}} @activeClass="bg-base-6">
              <Icons::KeyOutline class='fill-base-3 mr-2' />
              Keys
            </LinkTo>
            <LinkTo @route='admin.dumps' class={{classLink}} @activeClass="bg-base-6">
              <Icons::DatabaseCogOutline class='fill-base-3 mr-2' />
              Dumps
            </LinkTo>
          </nav>
        </div>

        <div class='mt-auto'>
          <div class='mb-3'>
            <a
              href='https://docs.meilisearch.com/'
              class='{{classLink}} mt-auto'
              target='_blank'
              rel='noopener noreferrer'
            >
              <Icons::Lifebuoy class='fill-base-3 mr-2' />
              Documentation
              <Icons::OpenInNew @size={{10}} class='mt-1 ml-0.5 self-start' />
            </a>
            <a
              href='https://github.com/kaermorchen/meiliadmin'
              class={{classLink}}
              target='_blank'
              rel='noopener noreferrer'
            >
              <Icons::Github class='fill-base-3 mr-2' />
              MeiliAdmin
              <Icons::OpenInNew @size={{10}} class='mt-1 ml-0.5 self-start' />
            </a>
          </div>

          <div class='mb-4 p-4 bg-base-6 rounded'>
            This application is currently in active development. If you have an
            issue, please use GitHub <a
              href='https://github.com/kaermorchen/meiliadmin/issues'
              target='_blank'
              rel='noopener noreferrer'
            >issues</a> to notify me.
          </div>

          <ThemeToggler class='mb-6 mt-5' />

          <div class='flex items-center mb-4'>
            <Icons::ServerNetwork
              @size={{40}}
              class='fill-base-3 mx-2 flex-shrink-0'
            />

            <span class='font-semibold mr-2 truncate'>
              {{this.session.data.authenticated.url}}
            </span>

            <Icons::Logout
              @title='Logout'
              class='fill-base-3 ml-auto flex-shrink-0 cursor-pointer'
              {{on 'click' this.invalidateSession}}
            />
          </div>
        </div>
      </div>
    {{/let}}
  </aside>

  <main class='main'>
    {{outlet}}
  </main>
</div>
