<div class="relative min-h-screen flex">
  <div class="flex flex-col w-64 h-screen px-4 py-8 bg-dark border-r border-gray">
    <h2 class="text-xl font-semibold text-light text-center flex items-center">
      <img src="/logo.svg" alt="MeiliSearch" class="w-8 h-8 mr-2">
      MeiliSearch Admin
    </h2>

    <div class="flex flex-col justify-between flex-1 mt-6">
      <nav>
        {{#each @model.indexes as |item|}}
          <MenuItem
            @route="admin.indexes.item"
            @model={{item}}
            @name={{capitalize item.uid}}
            class="flex flex-row items-center h-12 px-4"
          />
        {{/each}}
      </nav>
      <div class="flex flex-row items-center h-12 px-4">
        <span class="mr-1 text-gray" title="The version of a running Meilisearch instance">v{{@model.version.pkgVersion}}</span>
        {{#if (eq @model.health.status "available")}}
          <this.CheckboxMarkedCircle class="text-green" @size={{18}} @title={{@model.health.status}}/>
        {{else}}
          <this.AlertCircle class="text-yellow" @size={{18}} @title={{@model.health.status}}/>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="flex-1 p-4">
    {{outlet}}
  </div>
</div>
