<div class='app'>
  <MobileBar class='fixed flex shadow-sm lg:hidden' />

  <aside class='sidenav'>
    <SidenavBackground />
    <div class='sidenav-sections'>
      <MobileBar class='relative flex mb-4' />
      {{#let
        'flex items-center px-4 py-2 font-semibold text-lg text-base-2'
        as |classLink|
      }}
        <nav class='flex flex-col flex-1 mb-4'>
          {{!-- <div class='px-4 py-2 text-sm text-base-3'>Indexes</div>
          {{#each @model.results as |item|}}
            <LinkTo
              @route='admin.indexes.item'
              @model={{item}}
              class={{classLink}}
            >
              <Icons::CircleMedium class='mr-1' />
              {{capitalize item.uid}}
            </LinkTo>
          {{/each}} --}}
          <LinkTo @route='admin.indexes.index' class={{classLink}}>
            <Icons::FolderMultipleOutline class='fill-base-3 mr-2' />
            Indexes
          </LinkTo>
          <LinkTo @route='admin.tasks.index' class={{classLink}}>
            <Icons::FormatListChecks class='fill-base-3 mr-2' />
            Tasks
          </LinkTo>
          <LinkTo @route='admin.keys.index' class={{classLink}}>
            <Icons::KeyOutline class='fill-base-3 mr-2' />
            Keys
          </LinkTo>

          <Divider />

          <a
            href='https://docs.meilisearch.com/'
            class={{classLink}}
            target='_blank'
            rel='noopener noreferrer'
          >
            <Icons::HelpCircleOutline class='fill-base-3 mr-2' />
            Documentation
            <Icons::OpenInNew @size={{12}} class='mt-1 self-start' />
          </a>
          <a
            href='https://github.com/kaermorchen/meiliadmin'
            class={{classLink}}
            target='_blank'
            rel='noopener noreferrer'
          >
            <Icons::Github class='fill-base-3 mr-2' />
            MeiliAdmin
            <Icons::OpenInNew @size={{12}} class='mt-1 self-start' />
          </a>

          <Divider />

          <button
            type='button'
            {{on 'click' this.invalidateSession}}
            class={{classLink}}
          >
            <Icons::Logout class='fill-base-3 mr-2' />
            Logout
          </button>
        </nav>

        <ThemeToggler />
      {{/let}}
    </div>
  </aside>

  <main class='main'>
    {{outlet}}
  </main>
</div>
