<div class='min-h-screen flex flex-col justify-center py-12 sm:px-6 lg:px-8'>
  <div class='sm:mx-auto sm:w-full sm:max-w-md'>
    <div class='bg-base-7 py-8 px-4 mb-6'>
      <form class='space-y-6' {{on 'submit' this.authenticate}}>
        <Headers::H1 class='text-center' @title='Meiliadmin' />

        <Form::Input
          @label='URL'
          @value={{this.url}}
          @required={{true}}
          @onChange={{set this 'url'}}
          @placeholder='https://example.com'
          @helper="Don't forget about CORS restrictions"
        />

        <Form::Input
          @label='API key'
          @value={{this.key}}
          @onChange={{set this 'key'}}
        />

        <Button
          type='submit'
          @text='Sign in'
          @style='primary'
          class='w-full flex justify-center'
        />

        {{#if this.error}}
          <p class='text-danger'>
            {{this.error}}
          </p>
        {{/if}}
      </form>
    </div>

    <div class='flex items-center justify-around px-10'>
      <a href='https://www.meilisearch.com/' title='Website Meilisearch'>
        Meilisearch
      </a>
      <a
        href='https://github.com/kaermorchen/meiliadmin'
        title='Meiliadmin on GitHub'
        class='flex items-center'
      >
        <Icons::Github @size='20' class='mr-1' />
        Meiliadmin
      </a>
    </div>
  </div>
</div>
